.cabecalho {
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
}
.goku{
    width: 1000px;
    position: relative;
    top: 0px;
    left: 0px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.namekusei-imagem{
    width: 50%;
    background-image: linear-gradient(#689101, #CD4FFF);
}